#container {width: 980px;margin: 0 auto;}
/*Header*/
# header {
  display: block;
  }
/**/
h1.logo{
    display: inline-block;
    width: 167px;
    height: 64px;
    background: url("../images/logo.png") no-repeat;

}

span.logo {
    display: none;
}

ul.nav {
    display: inline-block;
    vertical-align:bottom;
    margin-right: 5px;

}
.inline {display: inline-block;vertical-align: top;}

.nav ul li {
    display: inline;
}

#title{
    display: block;
    border-top: 5px solid #902841;

}

#slide{

}

#feature{
    display: block;
}

#mod1 {
    display: inline-block;
    width: 200px;

}

#mod2 {
    display: inline-block;
    width: 200px;

}

#mod3 {
    display: inline-block;
    width: 200px;
}

#mod4 {
    display: inline-block;
    width: 200px;
}

#mod5 {
    display: inline-block;
    width: 200px;
}

#footer {
    display: block;
    width: 200px;
}